.vscode/
.idea/
.DS_Store
vendor/
dist/
# delve debug binaries
cmd/**/debug
hack/**/debug
debug.test
*.iml
.coverage
*.out
gateways/rest/gateway-in-nodejs/node_modules/
gateways/rest/gateway-in-nodejs/package-lock.json